In [1]:
# Feature Engineering: imports
import warnings
from pathlib import Path

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 200)

In [2]:
df= pd.read_csv("../data/raw/telecom_customer_churn.csv")
df_copy = df.copy()

In [3]:
df.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,9,NaN,Yes,42.39,No,Yes,Cable,16.0,No,Yes,No,Yes,Yes,No,No,Yes,One Year,Yes,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,9,NaN,Yes,10.69,Yes,Yes,Cable,10.0,No,No,No,No,No,Yes,Yes,No,Month-to-Month,No,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,4,Offer E,Yes,33.65,No,Yes,Fiber Optic,30.0,No,No,Yes,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,13,Offer D,Yes,27.82,No,Yes,Fiber Optic,4.0,No,Yes,Yes,No,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,3,NaN,Yes,7.38,No,Yes,Fiber Optic,11.0,No,No,No,Yes,Yes,No,No,Yes,Month-to-Month,Yes,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [4]:
df = df.rename(lambda x: x.lower().strip().replace(' ', '_'), axis='columns')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   customer_id                        7043 non-null   object
 1   gender                             7043 non-null   object
 2   age                                7043 non-null   int64
 3   married                            7043 non-null   object
 4   number_of_dependents               7043 non-null   int64
 5   city                               7043 non-null   object
 6   zip_code                           7043 non-null   int64
 7   latitude                           7043 non-null   float64
 8   longitude                          7043 non-null   float64
 9   number_of_referrals                7043 non-null   int64
 10  tenure_in_months                   7043 non-null   int64
 11  offer                              3166 non-null   object
 12  phone_service                      7043 non-null   object
 13  avg_monthly_long_distance_charges  6361 non-null   float64
 14  multiple_lines                     6361 non-null   object
 15  internet_service                   7043 non-null   object
 16  internet_type                      5517 non-null   object
 17  avg_monthly_gb_download            5517 non-null   float64
 18  online_security                    5517 non-null   object
 19  online_backup                      5517 non-null   object
 20  device_protection_plan             5517 non-null   object
 21  premium_tech_support               5517 non-null   object
 22  streaming_tv                       5517 non-null   object
 23  streaming_movies                   5517 non-null   object
 24  streaming_music                    5517 non-null   object
 25  unlimited_data                     5517 non-null   object
 26  contract                           7043 non-null   object
 27  paperless_billing                  7043 non-null   object
 28  payment_method                     7043 non-null   object
 29  monthly_charge                     7043 non-null   float64
 30  total_charges                      7043 non-null   float64
 31  total_refunds                      7043 non-null   float64
 32  total_extra_data_charges           7043 non-null   int64
 33  total_long_distance_charges        7043 non-null   float64
 34  total_revenue                      7043 non-null   float64
 35  customer_status                    7043 non-null   object
 36  churn_category                     1869 non-null   object
 37  churn_reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB

In [6]:
df.columns

Index(['customer_id', 'gender', 'age', 'married', 'number_of_dependents',
       'city', 'zip_code', 'latitude', 'longitude', 'number_of_referrals',
       'tenure_in_months', 'offer', 'phone_service',
       'avg_monthly_long_distance_charges', 'multiple_lines',
       'internet_service', 'internet_type', 'avg_monthly_gb_download',
       'online_security', 'online_backup', 'device_protection_plan',
       'premium_tech_support', 'streaming_tv', 'streaming_movies',
       'streaming_music', 'unlimited_data', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charge', 'total_charges', 'total_refunds',
       'total_extra_data_charges', 'total_long_distance_charges',
       'total_revenue', 'customer_status', 'churn_category', 'churn_reason'],
      dtype='object')

In [7]:
cols_to_remove = ['customer_id','zip_code', 'latitude', 'longitude','total_charges']
reason = ['churn_category', 'churn_reason']

In [8]:
# df.drop(columns=['Number of Dependents',
#                   'Number of Referrals',
#                   'Total Refunds',
#                   'Total Extra Data Charges',
#                   'Total Long Distance Charges'],inplace=True)

In [9]:
df.drop(columns=cols_to_remove,inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             7043 non-null   object
 1   age                                7043 non-null   int64
 2   married                            7043 non-null   object
 3   number_of_dependents               7043 non-null   int64
 4   city                               7043 non-null   object
 5   number_of_referrals                7043 non-null   int64
 6   tenure_in_months                   7043 non-null   int64
 7   offer                              3166 non-null   object
 8   phone_service                      7043 non-null   object
 9   avg_monthly_long_distance_charges  6361 non-null   float64
 10  multiple_lines                     6361 non-null   object
 11  internet_service                   7043 non-null   object
 12  internet_type                      5517 non-null   object
 13  avg_monthly_gb_download            5517 non-null   float64
 14  online_security                    5517 non-null   object
 15  online_backup                      5517 non-null   object
 16  device_protection_plan             5517 non-null   object
 17  premium_tech_support               5517 non-null   object
 18  streaming_tv                       5517 non-null   object
 19  streaming_movies                   5517 non-null   object
 20  streaming_music                    5517 non-null   object
 21  unlimited_data                     5517 non-null   object
 22  contract                           7043 non-null   object
 23  paperless_billing                  7043 non-null   object
 24  payment_method                     7043 non-null   object
 25  monthly_charge                     7043 non-null   float64
 26  total_refunds                      7043 non-null   float64
 27  total_extra_data_charges           7043 non-null   int64
 28  total_long_distance_charges        7043 non-null   float64
 29  total_revenue                      7043 non-null   float64
 30  customer_status                    7043 non-null   object
 31  churn_category                     1869 non-null   object
 32  churn_reason                       1869 non-null   object
dtypes: float64(6), int64(5), object(22)
memory usage: 1.8+ MB

In [11]:
df.isnull().sum()

gender                                  0
age                                     0
married                                 0
number_of_dependents                    0
city                                    0
number_of_referrals                     0
tenure_in_months                        0
offer                                3877
phone_service                           0
avg_monthly_long_distance_charges     682
multiple_lines                        682
internet_service                        0
internet_type                        1526
avg_monthly_gb_download              1526
online_security                      1526
online_backup                        1526
device_protection_plan               1526
premium_tech_support                 1526
streaming_tv                         1526
streaming_movies                     1526
streaming_music                      1526
unlimited_data                       1526
contract                                0
paperless_billing                       0
payment_method                          0
monthly_charge                          0
total_refunds                           0
total_extra_data_charges                0
total_long_distance_charges             0
total_revenue                           0
customer_status                         0
churn_category                       5174
churn_reason                         5174
dtype: int64

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.describe()

,age,number_of_dependents,number_of_referrals,tenure_in_months,avg_monthly_long_distance_charges,avg_monthly_gb_download,monthly_charge,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
count,7043.000000,7043.000000,7043.000000,7043.000000,6361.000000,5517.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,46.509726,0.468692,1.951867,32.386767,25.420517,26.189958,63.596131,1.962182,6.860713,749.099262,3034.379056
std,16.750352,0.962802,3.001199,24.542061,14.200374,19.586585,31.204743,7.902614,25.104978,846.660055,2865.204542
min,19.000000,0.000000,0.000000,1.000000,1.010000,2.000000,-10.000000,0.000000,0.000000,0.000000,21.360000
25%,32.000000,0.000000,0.000000,9.000000,13.050000,13.000000,30.400000,0.000000,0.000000,70.545000,605.610000
50%,46.000000,0.000000,0.000000,29.000000,25.690000,21.000000,70.050000,0.000000,0.000000,401.440000,2108.640000
75%,60.000000,0.000000,3.000000,55.000000,37.680000,30.000000,89.750000,0.000000,0.000000,1191.100000,4801.145000
max,80.000000,9.000000,11.000000,72.000000,49.990000,85.000000,118.750000,49.790000,150.000000,3564.720000,11979.340000

In [14]:
# filling null values
df['internet_type'] = df['internet_type'].apply(lambda x: 'no_internet_service' if pd.isnull(x) else x)
df['offer'] = df['offer'].apply(lambda x: 'no_offer' if pd.isnull(x) else x)

column_name = ['online_security', 'online_backup', 'device_protection_plan', 'premium_tech_support',
               'streaming_tv', 'streaming_movies', 'streaming_music', 'unlimited_data']
for column in column_name:
  df[column] = df[column].apply(lambda x: 'no_internet_service' if pd.isnull(x) else x)

In [15]:
df.isnull().sum()

gender                                  0
age                                     0
married                                 0
number_of_dependents                    0
city                                    0
number_of_referrals                     0
tenure_in_months                        0
offer                                   0
phone_service                           0
avg_monthly_long_distance_charges     682
multiple_lines                        682
internet_service                        0
internet_type                           0
avg_monthly_gb_download              1526
online_security                         0
online_backup                           0
device_protection_plan                  0
premium_tech_support                    0
streaming_tv                            0
streaming_movies                        0
streaming_music                         0
unlimited_data                          0
contract                                0
paperless_billing                       0
payment_method                          0
monthly_charge                          0
total_refunds                           0
total_extra_data_charges                0
total_long_distance_charges             0
total_revenue                           0
customer_status                         0
churn_category                       5174
churn_reason                         5174
dtype: int64

In [16]:
column_name = ['avg_monthly_long_distance_charges', 'avg_monthly_gb_download']
for column in column_name:
  df[column] = df[column].apply(lambda x: 0 if pd.isnull(x) else x)

In [17]:
df.to_csv("../data/processed/fe_data.csv")